<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="avatar">
        <img src="../../assets/images/LOGO.png" alt="">
      </div>
       
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  > 
  <ion-searchbar inputmode="search"></ion-searchbar>
    <ion-card *ngFor="let q of locales; let j = index" id="cardLocal">    
      <ion-card-content>
        <ion-item>
          <ion-icon slot = "end" name="heart"></ion-icon>
          <ion-avatar>
            <img src={{q.logo}} alt="">
          </ion-avatar>
          <ion-label>
           <h2><a href="/local/{{q.idLocal}}">{{q.nombreComercial}}</a></h2>
            <p>{{q.descripcion}}</p>
            <p><ion-icon name="location"></ion-icon>{{q.direccion}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
   
  

</ion-content>