<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="avatar">
        <img src="../../assets/images/LOGO.png" alt="">
      </div>
       
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  > 
  <ion-list>
    <ion-item *ngFor="let q of locales; let j = index" id="cardLocal">
      <ion-avatar >
        <img src={{q.logo}} alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2><a href="/local/{{q.idLocal}}">{{q.nombreComercial}}</a></h2>
        <p>{{q.descripcion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>